body{
  text-align: center;
  justify-content: center;
  color: white;
    }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(226,206,227,0.7),
        rgba(125, 33, 129, 0.7)
      ),
    url(https://2.bp.blogspot.com/-AMAD1puqKj4/W072uxbtRxI/AAAAAAAAP4k/MsWw9YRG4zMdi9pZTgmf_5PX4fMryCI2wCLcBGAs/s1600/whitney-houston.jpg);
    background-size: cover;
    background-position: center;
  }
  
    p {
    font-size: 18px;
  font-family:'Merriweather', serif;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
  }
  
  h1{
    font-size: 50px;
    margin-bottom: 0;
    color:#303142;
    text-shadow: 1.5px 1.5px 1.5px black;
  }
  
  h2{
    font-size: 30px;
    margin-top:0;
    margin-bottom:0;
    color:#52276C;
    text-shadow: 1px 1px 1px black;
   }
  
  h3{
    font-size: 17px;
    margin-top:1rem;
    margin-bottom:1rem;
    color:#f1e6f1;
    font-family: 'Fira Sans';
    text-shadow: 1px 1px 1px black;
  }
  
  h4{
    
    font-size:20px;
    color:#b784b9;  
    font-family: 'EB Garamond', serif;
    text-shadow: 1px 1px 1px black;
  }
  
  h5{
    font-size: 14px;
    margin-top:2%;
    margin-bottom:2%;
    color: #F7F3F9;
    text-shadow: 2px 2px 2px black;
   }
  
  @media (min-width: 576px){
    h1,h2,h3,h4,h5,p{
      max-width: 540px;
      text-align: center;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
        }
   }
  
   @media (min-width: 768px) {
     h1,h2,h3,h4,h5,p{
      max-width: 720px;
      text-align: center;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
        }
  }
  
  @media (min-width: 576px){
    p{
      max-width: 540px;
      text-align: justify;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
        }
   }
  
   @media (min-width: 768px) {
     p{
      max-width: 720px;
      text-align: justify;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
        }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 5%;
        }
  
  #img-div {
    background: linear-gradient(
        115deg,
        rgba(226,206,227,0.7),
        rgba(125, 33, 129, 0.7)
        );
    padding:20px;
    border-radius: 20px;
    width: 480px;
    height: 630px;
   justify-content: center;
   vertical-align: middle;
    margin: auto;
      }
  
  #img-caption{
      font-size: 15px;
      text-align: center;
    }
  
  @media (min-width: 576px) {
    #img-caption,#img-div,img {max-width: 540px;
   margin: auto;
   justify-content: center;
       }
   }
  
   @media (min-width: 768px) {
     #img-caption,#img-div,img {max-width: 720px;
   margin: auto;
   justify-content: center;
    }
  }